/* Set full-page background */
// :host {
//   display: block;
//   min-height: 100vh;
//   background-color: #ffffff; /* light gray background */
// }

/* Example global styles */
:host {
  display: block;
  min-height: 100vh;
  background-color: #f5f6fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

router-outlet {
  display: contents;
}